

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
padding: 1rem;
}

.App h1{
  margin-top: 12rem;
  text-align: center;
}

.App h2 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.name {
text-align: center;
 font-size: 15px;
 margin-top: 1.5rem;
}

.image img{ 
position: absolute;
width: 100%;
left: 0px;
top: 0px;
z-index: -100;

}

.morty{
  list-style: none;
  background-color: #062226;
  color: antiquewhite;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.morty img{
  width: 50%;
}

#part1{
  display: flex;
  flex-direction: row;
 
}


#part1 > div{
  width: 50%;
  margin-left: 1rem;
}

.details h3{
  color: lavender;
  margin-bottom: .5rem;
}

.details h4{
  margin-bottom: .5rem;
  margin-top: rem;
}

.details p{
  color: rgba(250, 235, 215, 0.466);
  margin-bottom: rem;
}
